@model HOTEISMVC.Models.HotelDetail

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes</h1>

<div>
    <h4>Hotel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hotel.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hotel.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hotel.CNPJ)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hotel.CNPJ)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hotel.Endereco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hotel.Endereco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hotel.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hotel.Descricao)
        </dd>
    </dl>
</div>
 @foreach (var item in Model.Hotel.Fotos) {
         <img src="data:image;base64,@System.Convert.ToBase64String(item.Img)" width="80" height="80"/>          
        }
<div class="pt-2">
    <a class="btn btn-primary" asp-controller="Fotos" asp-action="Index" asp-route-id="@Model?.Hotel.Id">Editar Fotos</a> 
     <a class="btn btn-primary" asp-controller="Fotos" asp-action="Create" asp-route-id="@Model?.Hotel.Id">Add Fotos</a> 
</div>



<table class="table table-striped">
    <thead class="table-light">
        <tr>
          
            <th>
                @Html.DisplayNameFor(model => model.Quartos.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quartos.NumOcupantes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quartos.NumAdultos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quartos.NumCriancas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quartos.Preco)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model.Hotel.Quartos) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumOcupantes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumAdultos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumCriancas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                <a asp-controller="Quartos" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-controller="Quartos" asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-controller="Quartos" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


<div class="pt-2">
       <a class="btn btn-primary" asp-controller="Quartos" asp-action="Create" asp-route-id="@Model?.Hotel.Id">Cadastrar Quarto</a>                
</div>
<div class="pt-2">
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Hotel.Id">Editar</a> 
    <a class="btn btn-secundary" asp-action="Index">Voltar</a>
</div>
