@model HOTEISMVC.Models.Quarto

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Details</h1>

<div>
    <h4>Quarto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hotel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hotel.CNPJ)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumOcupantes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumOcupantes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumAdultos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumAdultos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumCriancas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumCriancas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Preco)
        </dd>
    </dl>
</div>
<div class="pt-2">
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a class="btn btn-secudary" asp-action="Index">Voltar</a>
</div>
